* {
	box-sizing: border-box;

}
header{
	background-color: #d6d6c2;
	position: relative;
	top: 18px;
	left: 10px;
	height: 300px;
}
header img{
	float: left;
	width: 300px;
	height: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #99b3ff;
}

li {
   float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 140px;
    text-decoration:none;
}

li a:hover {
    background-color: #00ace6;
}
.mid{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}
.heading2{
			font-weight: bold;
			font-size: 22px;
			color: rgb(40, 40, 40);
		}	
.dates{
			font-size: 13px;
			margin-top: -3%;
		}		
.rdm{
			color:rgb(0, 153, 153);
			text-decoration: none;
			font-weight:bold;
		}	
#text2 
		{
         background-color: #ddd;
         overflow:auto;
         width:20%;
         padding: 3%;
         margin-top:2%;
         border: 1px solid rgb(160,160,160);	
         }

.c2
		{
			font-weight: bold;
			font-size: 26px;
			color: rgb(0, 51, 102);
			text-align:center;
			
		} 
button{
			
			border:0px solid black;
			background-color:rgb(71, 154, 36);
			padding:4%;
			font-size: 19px;
			color:rgb(30,30,30);

		}		        		
.link2
		{
			text-decoration: underline;
			margin:0;
			padding:0;
		}
.iconlink{
        margin-left:2%;
        color:black;

		}	
.text1{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}						

footer {
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	background-color: #232323;
	margin-top:60%;
}

footer p {
	color: white;
	padding-left: 20px;

}