body{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
}
.question{
    font-weight: 900;
}
.answers {
    margin-bottom: 20px;

}
#submit{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: green;
}