
.button{
	background-color: green

}
input[type=text] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=url] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=email] {
    width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

}
	#contact label{
		display: inline-block;
		width: 50%px;

	
	}
	#contact_submit{
		padding-right: 100px;
	}
	#contact div{
		margin-top: 3em;
	}
	textarea{
		vertical-align: top;
		height: 13em;
		width: 21em;
		display: inline-block;
    border: none;
    background: #f1f1f1;
	}
	.error{
		display: none;
		margin-left: 10px;
	}		

	.error_show{
		color: darkred;
		margin-left: 10px;
	}
	input.invalid, textarea.invalid{
		border: 2px solid red;
	}

	input.valid, textarea.valid{
		border: 2px solid green;
	}
