  body
  {
    background-image: url(img/e.jpg);
  }
  	input
  	{
  		border:2px solid rgb(190,190,190);
  		border-radius: 4px;
  		padding: 3px 8px;
  		  background-color: #f8f8f8;
  		  width: 40%;
  	}
  	input#checkbox
  	{
  		cursor: pointer;
  		width:2%;
  	}
    textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
button{
   cursor: pointer;
   font-size: 17px;
   color: white;
   background-color: #27C1BC;
   border: #387F7C;
}
button:hover{
  font-size: 18px;
  box-shadow: 5px 0px 20px rgb(10,10,10);   
}
.error{
	font-size: 14px;
	color: red;
  margin-left: 2%; 
}
.mycol{
  font-size: 24px;
}
#success{
  display: none;
}