.up{
	background-color: rgb(50,50,50);
	   overflow: auto;
	   padding: 2%;

}
ul {
		background-color: rgb(200,200,200);
		list-style-type: none;
		margin: 0;
    padding: 0;
    overflow: hidden;

	}
	li{
		float:left;
		margin-left:7%;

	}
	li a{
		display:block;
		font-family: Tahoma;
       text-decoration: none;
       font-size:25px;
       padding: 9%;
       color:rgb(10,10,10);
		}

#heading{

			font-weight: bold;
			font-size: 30px;
			color: rgb(100, 20, 50);
		}
.mid{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}
.heading2{
			font-weight: bold;
			font-size: 22px;
			color: rgb(40, 40, 40);
		}	
.dates{
			font-size: 13px;
			margin-top: -3%;
		}		
.rdm{
			color:rgb(0, 153, 153);
			text-decoration: none;
			font-weight:bold;
		}	
#b2 
		{
         background-color: #ddd;
         overflow:auto;
         width:20%;
         padding: 3%;
         margin-top:2%;
         border: 1px solid rgb(160,160,160);	
         }

.c2
		{
			font-weight: bold;
			font-size: 26px;
			color: rgb(0, 51, 102);
			text-align:center;
			
		} 
button{
			
			border:0px solid black;
			background-color:rgb(71, 154, 36);
			padding:4%;
			font-size: 19px;
			color:rgb(30,30,30);

		}		        		
.link2
		{
			text-decoration: underline;
			margin:0;
			padding:0;
		}
.iconlink{
        margin-left:2%;
        color:black;

		}	
.c1{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}						

footer {
	position: absolute;
	left: 0px;
	width: 100%;
	text-align: left;
	background-color: #232323;
	margin-top:60%;
}

footer p {
	padding-left: 20px;

}
