.hover-menu{
	text-decoration:none;
	color:red;
	border:1px solid black;

}
.box{
	width:100px;
	height:100px;
}
.person{
	width:200px;
	border:1px solid black;
	background: yellow;
	margin-left:20px;
	display:inline-block;
}