body {
	margin-top: 32px;
    font-family: tahoma;
    background-color: #be2408;
}

* {
    box-sizing: border-box;
}
.bls {
    margin:auto;
    padding: 60px; 
    width: 600px;
    height:600px;
    background-color: white;
}
input[type=text] {
    width: 45%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    background: #ffffff;
}
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
input[type=date] {

	width: 45%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;

    background: #ffffff;

	}

.btn1 {
    background-color: #be2408;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

.btn1:hover {
    opacity: 1;
}