  body
  {
    background-color: #E9967A
  }
  	input
  	{
  		border:2px solid rgb(190,190,190);
  		border-radius: 4px;
  		padding: 3px 8px;
  		  background-color: #F5DEB3;
  		  width: 40%;
  	}
  	input#checkbox
  	{
  		cursor: pointer;
  		width:2%;
  	}
    textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #F5DEB3;
  font-size: 16px;
  resize: none;
}
button{
   padding: 2% 3%;
   cursor: pointer;
   font-size: 17px;
   color: white;
   background-color: #D2B48C;
   border: 4px solid rgb(20,20,20);
   border-radius: 2px;
}
button:hover{
  font-size: 18px;
  box-shadow: 5px 0px 20px rgb(10,10,10);   
}
.error{
	font-size: 14px;
	color: white;
  margin-left: 2%; 
}
.mycol{
  font-size: 24px;
}
#success{
  display: none;
}