div.gallery {
    margin: 5px;
    float: left;
    width: 180px;
}
div.gallery img {
    width: 100%;
    height: auto;
}

div.teksti {
    text-align: center;
    font-family: Cambria Math;
    font-size: 20px;
    color: #47EBE9;
}
.t2, .t3 {
 font-family: Cambria Math;
 text-align: center;
}