input  	
{
  border:1px solid #C0C0C0;
  border-radius: 8px;
  padding: 4px;
  width: 35%;
}

input#checkbox
{
   cursor: pointer;
   width:2%;
}

.error
{
	font-size: 14px;
	color: red;
  margin-left: 2%; 
}

.mycol
{
  font-size: 24px;
}

#success
{
  display: none;
}
