.main-container{
	background-color: #dedede;
}

.c-first-col {
    background: red;
    color: #fff!important;
}
.c-second-col{
	background: black;
    color: #fff!important;
}
.c-third-col{
	background: #423453;
    color: #fff!important;
}
.c-usual-p{
  background:yellow;
  color:black;
}
.c-nested{
	background-color:green;
}