body{
		height:667px;
		  background-image: linear-gradient(to bottom left, #6b005e, #ed0066); 
		  font-family: Bahnschrift Light;
	}
	#div1{
		border-radius: 8px;
    background-color: white;
    box-shadow: 2px 2px 10px;
    padding:4%;
    max-width:38%;
    margin:auto;
    margin-top:5%;
    overflow: auto;
	}
	#title
	{
		font-size:20px;
		margin-bottom: 3%;
	}
	.position
	{
	 float:left;
	 width:35%;
	 
	}
	.p1
	{
		margin-right:10%;
	}
	.p2{
		margin-left:7%;
	}
	.input{
		 width: 110%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px solid #ddd;
  outline:none;
margin-bottom: 3%;
  border-radius: 4px;
  background-color: #e4e4e4;
  
	}
	.input : focus{

  outline:none;
  
	}
	p{
		margin-bottom:2px;
	}
 
 input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
 margin-top: 8%;
  float: left;
  margin-left: 0;
  margin-bottom: 7%;

}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:green;
}
.gender
{
	
	margin-top:9%;
	float:left;
	margin-right:5%;
}
.divgender{
	display: inline-block;
	width:100%;
}
.divselect{
	display: inline-block;
	width:82%;
   
}
input[type='Submit']
{
	margin-top:4%;
	border: 0px solid blue;
	outline:none;
	background-color: rgb(0, 102, 255);
	color:white;
	padding:2% 6% 2% 6%;
	border-radius: 3px;
	font-family:Bahnschrift Light;
	font-size: 18px;
}
#select
{
	font-size:17px;
	color:rgb(100,100,100);
}