
  body {
    font-family: "Open Sans";
    font-size: 14px;
    background-image: url("desk.jpeg");
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
  
    }
  
  .container {
    width: 500px;
    margin: 25px auto;
  }
  h2{
    color:white;


  }
  
  form {
    padding: 20px;
    background :white;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    width: 250 px;
  }
  form label, form input, form button {
    border: 0;
    margin-bottom: 3px;
    display: inline-block;
    width: 100%;
  }
  form input {
    height: 25px;
    line-height: 25px;
    background: black;
    font-family: 'Courier New', Courier, monospace;
    color:black;
    background-color: #ffffb3;
    padding: 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  form button {
    height: 30px;
    line-height: 30px;
    background: orangered;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  
}
