
      * {padding:0; margin:0;}

      html {
        background:url(download.jpg) 0 0 repeat;
        padding:15px 15px 0;
        font-family:sans-serif;
        font-size:14px;
      }

      p, h3 { 
        margin-bottom:15px;
      }

      div {
        padding:10px;
        width:600px;
        background:#fff;
      }

      .tabs li {
        list-style:none;
        display:inline;
      }

      .tabs a {
        padding:5px 10px;
        display:inline-block;
        background:#666;
        color:#fff;
        text-decoration:none;
        
      }

      .tabs a.active {
        background:#fff;
        color:#000;
      }
