textarea {
    height:auto;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}
a:hover{
    text-decoration: none;
}
input[type=text], input[type=date] {

    padding: 4px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    margin: 10px 0;
    padding: 4px 10px;
    border: 2px solid #aaa;
    border-radius: 4px;
}
input[type=submit]:hover{
    padding: 4px 10px;
    background-color:rgb(200,200,200);

}