.fillimi{
     background-color:rgb(0, 153, 255);
     vertical-align: text-bottom;
      overflow: auto;
      padding: 1%;
	}
	ul {
		background-color: rgb(190,190,190);
		list-style-type: none;
		margin: 0;
    padding: 0;
    overflow: hidden;

	}
	li{
		float:left;
		margin-left:9%;

	}
	li a{
		display:block;
		font-family: Arial;
       text-decoration: none;
       font-size:25px;
       padding: 9%;
       color:rgb(70,70,70);
			}
		.trupi{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}	
		.iconlink{
        margin-left:2%;
        color:black;

		}
		button{
			
			border:0px solid black;
			background-color:rgb(71, 154, 36);
			padding:4%;
			font-size: 19px;
			color:rgb(30,30,30);

		}
		body{
			font-family: Arial;
			margin:0;
			padding:0;
		}
		#titulli
		{
			font-weight: bold;
			font-size: 30px;
			color: rgb(0, 51, 102);
		}
		.nentitulli{
			font-weight: bold;
			font-size: 22px;
			color: rgb(40, 40, 40);
		}
		.datat{
			font-size: 13px;
			margin-top: -3%;
		}
		.readmore{
			color:rgb(0, 153, 153);
			text-decoration: none;
			font-weight:bold;
		}
		#block2 
		{
         background-color: #ddd;
         overflow:auto;
         width:20%;
         padding: 3%;
         margin-top:2%;
         border: 1px solid rgb(160,160,160);
		}
		.nentitull2
		{
			font-weight: bold;
			font-size: 26px;
			color: rgb(0, 51, 102);
			text-align:center;
			
		}
		.link2
		{
			text-decoration: underline;
			margin:0;
			padding:0;
		}
		.fund
		{
			margin-top:50%;
			background-color: rgb(0, 153, 255);
			height:130px;
		}