.header{
     background-color:rgb(0,0,50);
     vertical-align: text-bottom;
      overflow: auto;
      padding: 1%;
	}
	ul {
		background-color: rgb(176,196,222);
		list-style-type: none;
		margin: 0;
        padding: 0;
        overflow: hidden;

	}
	li{
		float:left;
		margin-left:9%;

	}
	li a{
		display:block;
		font-family: Arial;
       text-decoration: none;
       font-size:25px;
       padding: 9%;
       color:rgb(70,70,70);
			}
		.body{
			float:left;
			width:35%;

			margin:8%;
			margin-top: 1%;
		}	
		.iconlink{
        margin-left:2%;
        color:black;

		}
		button{
			
			border:0px solid black;
			background-color:rgb(95, 158, 180);
			padding:4%;
			font-size: 19px;
			color:rgb(30,30,30);

		}
		body{
			font-family: Arial;
			margin:0;
			padding:0;
		}
		#title
		{
			font-weight: bold;
			font-size: 30px;
			color: rgb(0, 51, 102);
		}
		.under{
			font-weight: bold;
			font-size: 22px;
			color: rgb(40, 40, 40);
		}
		.data{
			font-size: 13px;
			margin-top: -3%;
		}
		.readmore{
			color:rgb(0, 153, 153);
			text-decoration: none;
			font-weight:bold;
		}
		#block 
		{
         background-color: rgb(173,216,230);
         overflow:auto;
         width:20%;
         padding: 3%;
         margin-top:2%;
         border: 1px solid rgb(160,160,160);
		}
		.under1
		{
			font-weight: bold;
			font-size: 26px;
			color: rgb(0, 51, 102);
			text-align:center;
			
		}
		.link
		{
			text-decoration: underline;
			margin:0;
			padding:0;
		}
		.footer
		{
			margin-top:50%;
			background-color: rgb(100, 149, 237);
			height:130px;
		}