input, textarea{
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(180,180,180);
  width:80%;
  }

textarea{
  resize: none;
}
.pt1{
  background-color: #18be9e;
 padding-top: 3%;
 padding-bottom: 2%;
}
.limg{
  width:10%;
  height: 10%;
  margin-bottom:2%;
  
}
.iconwidth{
 width:60%;
}
  h4{
  margin-top: 2%;
}
}
.pt2
{
  margin-top:2%;
  color: #2c3e50;
}
.pt3
{
  margin-top:2%;
  margin-bottom: 2%;

}
.agsd{
  background-color: #2c3e50;
}
.btnd{
    border:1.5px solid white;
    border-radius: 2px;
 padding: 1% 2% 1% 2% ;
 margin-bottom: 3%;
  }
  .send{
    border:1.5px solid #18bc9c;
    border-radius: 2px;
  }
  
.footer{
  background-color: #2c3e50;
  padding-top:3%;  
  padding-bottom:2% ;
}
.copyrights
{
  background-color: #1a252f;
  padding-top:1%;  
  padding-bottom:0.5% ;
  font-size: 80%;
}