body {
    background: #eee;
    margin: 2px;
    font-family: sans-serif;
}
h2{margin:0px;}

div {
    padding: 40px 0px 0px 40px;
}

article {
    padding: 20px 40px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

section[cursor="custom"] {
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=90365).auto;
}

section {
    background-color: red;
}

section:hover {
    background-color: #fff;
}

section::after {
    content: attr(cursor);
    color: #9E9E9E;
    line-height: 100px;
    font-family: Helvetica,Arial,sans-serif;
}

section {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: flex-basis;
    height: 100px;
    width: 100px;
    background: #FAFAFA;
    border: 1px solid #eee;
    margin: 1px;
    text-align: center;
}