.daisy{
 width:350px;
 height:450px;

}

.text1
{
font-family:georgia;
font-size:25px;
text-align:center
}

.text2
{
 
 font-family:georgia;
 font-size:20px;
 text-align: center



}
.text5
{
	 font-family:georgia;
 font-size:20px;
 text-align: center

}


.link{
 color:green;
 font-size:20px;
 padding-left:90px;

}