* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #001f3f;
  padding: 40px 10px;
}

.header a {
  font-family: Arial;
  float: left;
  color: #FFFFF0;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px; 
  line-height: 25px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

.header a.logo {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding-left: 10%;
}

.header a:hover {
  background-color: #ddd;
  color: #FFFFF0;
  text-decoration: none;

}

.header-right {
  float: right;
  padding-right: 10%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}
.container{
	    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
	display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}
.btn {
  border-width: 2px;
}
section {
  padding: 6rem 0;
}
section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.text-secondary {
  color: #2C3E50 !important;
}

.bg-primary{
	color: #0dcba6;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #001f3f;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

hr.star-light {
  border-color: #fff;
}

hr.star-dark {
  border-color: #2C3E50;
}
